@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right bottom, rgb(177, 215, 255), rgb(255, 186, 186));
}

/*
* Styling welcome section
*/
.welcomePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomePageTitle {
  font-size: 48px;
  background: -webkit-linear-gradient(#1535b3, #2fbcdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Bungee', sans-serif;
}

.welcomePageImg {
  margin: 40px;
  display: block;
  height: 420px;
  border-radius: 2rem;
}

.inputGroup {
  /* border: 1px solid #1535b3; */
  border-radius: 0.5rem;
  background-color: #5b5b5b1d;
  margin: 2rem;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.playerSelect {
  font-size: 24px;
}

select {
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  background-color: transparent;
  font-size: 24px;
}

.welcomePageButton {
  min-width: 175px;
  width: 10%;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 12px;
  background-color: #ffffff79;
  border: 2px solid #143479;
  color: #143479;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.welcomePageButton:hover {
  border: 2px solid #143479;
  color: #143479;
  box-shadow: rgb(0, 38, 72) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.board {
  background: url('./assets/imgs/table_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling control board */
.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.13);
  width: fit-content;
  display: flex;
  justify-content: right;
  border-radius: 1rem 1rem;
}

.container__table {
  display: flex;
}

.board__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.button__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__group button {
  margin: 0.4rem;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.button__group button:hover {
  box-shadow: rgb(0, 38, 72) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.reset__btn {
  background-color: rgba(255, 255, 255, 0.661);
  border: 2px solid rgba(255, 255, 255, 0.661);
  color: #ccc;
}

.exit__btn {
  background-color: rgba(223, 76, 76, 0.661);
  border: 2px solid rgba(223, 40, 40, 0.661);
  color: #ccc;
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
}

.finish__btn {
  background-color: rgba(0, 255, 0, 0.5);
  border: 2px solid rgba(0, 255, 0, 0.5);
  color: #ccc;
}

h1 {
  width: 50%;
  font-size: 48px;
  background: -webkit-linear-gradient(#ffe3e3, #afe4ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Bungee', sans-serif;
}

.score__board {
  width: 30%;
  padding: 12px 24px;
  font-size: 48px;
  color: #ffff00;
}

/* Styling game board */
.table {
  border-spacing: 0;
  width: 80vw;
  padding: 0 1rem 1rem 1rem;
  table-layout: fixed;
}

.table__head {
  border: 2px solid #000;
  background-color: rgb(0, 0, 185);
  color: #fff;
  font-size: 24px;
  font-family: 'Bungee', sans-serif;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.table__cell {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 2px solid #000;
  padding: 30px;
  background-color: blue;
  text-align: center;
  color: yellow;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px;
}

.table__cell:hover {
  border: 2px solid #ffff00;
  opacity: 0.8;
}

/* Styling Modal questions */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__questions {
  position: fixed;
  width: 600px;
  height: 400px;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid #fff;
  background-color: blue;
}

.modal__header {
  padding: 12px;
  font-size: 48px;
  color: #ffff00;
  border-bottom: 4px solid #ffff00;
  width: 100%;
}

.question {
  width: 100%;
  padding: 0 40px;
  min-height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.answer {
  font-size: 24px;
  color: #ffff00;
  font-family: 'Inter', sans-serif;
  visibility: hidden;
}

.group__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.group__btn button {
  margin: 1rem;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.group__btn button:hover {
  box-shadow: rgb(0, 38, 72) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.answer__btn {
  background-color: rgba(0, 255, 0, 0.8);
  border: 2px solid rgba(0, 255, 0, 1);
  color: #000;
}

.cancel__btn {
  background-color: rgba(255, 0, 0, 0.8);
  border: 2px solid rgba(255, 0, 0, 1);
  color: #000;
}

.answered__question {
  cursor: pointer;
  background-color: rgba(117, 175, 255, 0.498);
  color: #00000070;
}

.answered__question:hover {
  background-color: rgba(60, 141, 255, 0.657);
  border: 2px solid greenyellow;
  opacity: 0.8;
  color: #000;
}

.loadingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* Styling  player table*/
.player__table {
  margin: 0 1rem 1rem 0;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.13);
}

.player__table__head {
  background: -webkit-linear-gradient(#ffe3e3, #afe4ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-family: 'Bungee', sans-serif;
  text-align: center;
  width: fit-content;
}

.player__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  text-align: center;
  padding: 0 4px;
  min-height: 100px;
  margin-top: 1rem;
}

.player__data:hover {
  border: 2px solid yellow;
}

.player__data .player__name__input {
  font-family: 'Bungee', sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  max-width: 160px;
  border-color: transparent;
  border-bottom: 1px solid grey;
  background: -webkit-linear-gradient(#1535b3, #2fbcdf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player__name__input::placeholder {
  font-size: 20px;
  font-weight: lighter;
  background: -webkit-linear-gradient(#000000, #152e3b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none;
}

.player__score {
  display: flex;
  min-height: 32px;
  justify-content: center;
  font-weight: 800;
}

[class^='score'] {
  font-size: 36px;
  margin: 0 1rem;
  color: yellow;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class^='decrease'],
[class^='increase'] {
  padding: 2px 14px;
  font-size: 32px;
  font-family: 'Bungee', sans-serif;
  color: yellow;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class^='decrease']:hover,
[class^='increase']:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.winner__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
}

.winner__modal__content {
  position: fixed;
  width: 600px;
  height: 400px;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid #fff;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winner__modal__content p {
  background: -webkit-linear-gradient(#ffe3e3, #afe4ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-family: 'Bungee', sans-serif;
  text-align: center;
  margin: auto;
  width: fit-content;
}

.winner__modal__content span {
  display: block;
  background: -webkit-linear-gradient(#f8edba, #f0ee7c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}

.winner__modal__btn__group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.winner__modal__btn {
  margin: 0.5rem;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border: 2px solid #22ff26;
  background-color: rgba(63, 238, 44, 0.661);
  color: #002c0c;
  font-weight: bold;
}

.winner__modal__btn:hover {
  box-shadow: rgb(0, 52, 3) 3px 3px 6px 0px inset, rgba(60, 255, 0, 0.5) -3px -3px 6px 1px inset;
}

/* Style winner history board */
.winner__history {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
}

.winner__history__content {
  position: fixed;
  width: 60%;
  height: 80%;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid #fff;
  background-color: blue;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.winner__history__heading {
  background: -webkit-linear-gradient(#ffe3e3, #afe4ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-family: 'Bungee', sans-serif;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
}

.winner__item {
  position: relative;
  margin: 10px auto;
  list-style-type: none;
  width: 50%;
  text-align: start;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
}

.winner__list__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto;
  padding: relative;
  width: 50%;
  color: rgb(111, 161, 247);
}

.winner__list__header span {
  width: 33%;
}

.winner__list__header span:nth-child(1) {
  text-align: left;
}

.winner__list__header span:nth-child(2) {
  text-align: center;
}

.winner__list__header span:nth-child(3) {
  text-align: right;
}

.winner__item p {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.winner__item span {
  width: 33%;
}

.winner__item span:nth-child(1) {
  color: #fff;
  text-align: left;
}

.winner__item span:nth-child(2) {
  color: #ffff00;
  text-align: center;
}

.winner__item span:nth-child(3) {
  color: #fff;
  text-align: right;
}

.close {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  color: white;
  top: 20px;
  right: 40px;
  font-size: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
